.create-bootcamp-container {
  display: flex;
  flex-direction: column;
}

.create-bootcamp {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  background-color: var(--main-black-color);
  width: 500px;
  border-radius: 5px;
  padding: 20px;
  /* transform: translate(-50%, -50%); */
}

.create-bootcamp .holder {
  margin-bottom: 10px;
}

.create-bootcamp :where(input, textarea) {
  display: block;
  padding: 8px 15px;
  font-family: sans-serif;
  border: 1px solid var(--main-white-color);
  border-radius: 5px;
  width: 100%;
  outline: none;
  caret-color: var(--main-grey-color);
  font-size: 18px;
}

.create-bootcamp :where(input, textarea)::placeholder {
  transition: .5s;
}

.create-bootcamp :where(input, textarea):focus::placeholder {
  opacity: 0;
}

.create-bootcamp textarea {
  resize: none;
  height: 100px;
}

.create-bootcamp .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  margin: auto;
}

.create-bootcamp .buttons-container button {
  border-radius: 5px;
  width: 47%;
}

.create-bootcamp .buttons-container .cancle-btn {
  background-color: var(--main-white-color);
  color: var(--main-blue-color);
}

.create-bootcamp .buttons-container .save-btn {
  color: var(--main-white-color);
}