.notifications-container {
  position: absolute;
  top: 100%;
  right: 85%;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ccc;
  padding: 5px;
  z-index: 100;
  display: none;
}

.notifications-container.active {
  display: block;
}

.notifications-container .info {
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
}

.notifications-container .info:last-child {
  margin-bottom: 0px;
}