.create-assignment-container {
  padding: 10px;
  background-color: var(--main-black-color);
  border-radius: 5px;
  width: 650px;
  margin: auto;
  position: relative;
}

.create-assignment-container input {
  display: block;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.create-assignment-container :where(input, textarea)::placeholder {
  transition: .5s;
}

.create-assignment-container :where(input, textarea):focus::placeholder {
  opacity: 0;
}

.create-assignment-container .assignment-info .mentor-name input {
  color: var(--main-white-color)
}

.create-assignment-container .assignment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.create-assignment-container .instructions .instruction {
  display: flex;
  gap: 18px;
  margin: 15px auto
}

.create-assignment-container .instructions .instruction-content {
  flex: 1;

}

.create-assignment-container .instructions .instruction textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px 15px;
  outline: none;
}

.add-instruction-btn,
.create-assignment-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px auto;
}

.add-instruction-btn button,
.create-assignment-btn button {
  color: var(--main-white-color);
  border-radius: 5px;
}

.create-assignment-btn {
  justify-content: center;
}

.create-assignment-btn button {
  width: 100px;
}

.create-assignment-container .stacks-list {
  color: var(--main-black-color);
  background-color: var(--main-white-color);

  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 300px;
}

.create-assignment-container .stacks-list .stack {
  padding: 10px;
  cursor: pointer;
}

.create-assignment-container .stacks-list .stack:not(:last-child) {
  border-bottom: 1px solid var(--main-black-color);
}

.create-assignment-container .stacks-list .stack p {
  margin: 0
}