.curriculum-cards-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  transition: .5s;
}

.curriculum-cards-container.active .curriculum-card {
  opacity: .5;
}

.curriculum-cards-container::-webkit-scrollbar {
  width: 12px;
}

.curriculum-cards-container::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 6px;
}

.curriculum-cards-container::-webkit-scrollbar-track {
  background-color: #ccc;
}

.curriculum-cards-container :where(.curriculum-card, .add-curriculum-card) {
  padding: 20px;
  background-color: var(--main-black-color);
  border-radius: 5px;
  transition: .5s;
}

.curriculum-cards-container .curriculum-card {
  width: 100%;
}

.curriculum-cards-container .curriculum-card,
.curriculum-card .inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.curriculum-card .inputs-container .input-label {
  margin-bottom: 0px;
}

.curriculum-card .inputs-container .input-label input {
  width: 130px;
  text-align: center;
}

.curriculum-cards-container .add-curriculum-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -550%);
  z-index: 10;
}

.curriculum-cards-container .add-curriculum-card.active {
  transform: translate(-50%, -50%);
}

.curriculum-cards-container .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.curriculum-cards-container .buttons-container button {
  color: var(--main-white-color);
  padding: 5px;
  background-color: var(--blue-color);
  border-radius: 5px;
}

.curriculum-cards-container .buttons-container .add-btn {
  width: 70%;
}

.curriculum-cards-container .buttons-container .save-btn {
  width: 25%;
}

.curriculum-cards-container .input-label input:focus+label {
  color: var(--main-white-color);
}

.curriculum-cards-container .input-label label.active {
  color: var(--main-white-color);
}

.curriculum-cards-container input {
  color: var(--main-black-color);
  width: 100%;
}

.curriculum-cards-container .curriculum-card:not(:first-child) input {
  color: white;
}

.curriculum-cards-container h2 {
  color: var(--main-white-color);
  text-align: center;
}

.add-curriculum-btn {
  position: fixed;
  bottom: 15px;
  left: 50%;
}

.add-curriculum-btn button {
  border-radius: 5px;
  color: var(--main-white-color);
}