h2 span {
  display: inline-block;
  position: relative;
}

h2 {
  margin-bottom: 20px;
}

h2 span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--main-blue-color);
}

.submission {
  padding: 10px;
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  border-radius: 5px;
}

.submission .profile {
  margin: auto;
  width: fit-content;
  text-align: center;
  gap: 10px;
  margin-bottom: 10px;
}

.submission .profile .image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.submissinos-container {
  display: flex;
  gap: 10px;
}

.submitted-at {
  margin-bottom: 10px;
}

.submission button {
  display: block;
  margin: auto;
  width: fit-content;
  color: var(--main-white-color);
  border-radius: 5px;
}



.assignment-submissions-container.active .submissinos-container {
  opacity: .5s;
}

.assignment-submissions-container .ai-feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s;
  z-index: 100;
  transform: translate(-50%, -550%);
  opacity: 0;
  background-color: var(--main-black-color);
  padding: 10px;
}

.assignment-submissions-container.active .ai-feedback {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.assignment-submissions-container.active .submissinos-container {
  opacity: 0.5;
}

.ai-feedback .assignment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 15px;
}

.ai-feedback input {
  color: var(--main-white-color);
  padding: 10px;
  border-radius: 5px;
}

.ai-feedback .due-date input {
  width: 155px;
}

.ai-feedback .instructions :where(input, textarea) {
  color: var(--main-white-color);
}

.ai-feedback .instructions .instruction {
  display: flex;
  gap: 16px;
  margin: 15px auto
}

.ai-feedback .instructions .instruction-content {
  flex: 1;

}

.ai-feedback .instructions .instruction textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px 15px;
  outline: none;
}

.ai-feedback h2 {
  color: var(--main-white-color);
  margin-bottom: 15px;
  text-align: center;
}

.ai-feedback .file {
  color: var(--main-white-color);
  width: fit-content;
  text-align: center;
}

.ai-feedback .file p {
  margin-top: 0;
  font-size: 12px;
}

.ai-feedback .file a {
  color: var(--main-blue-color);
}

.ai-feedback .file a svg {
  height: 80px
}

.ai-response textarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  min-height: 150px;
  padding: 10px;
  color: var(--main-white-color);
  font-family: sans-serif;
}

.ai-response textarea::placeholder {
  color: var(--main-white-color);
}

.ai-feedback button {
  width: fit-content;
  margin: auto;
  color: var(--main-white-color);
}