.radio-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  color: var(--main-black-color);
  margin-bottom: 10px;
  gap: 20px;
}

.radio-holder .holder {
  display: flex;
}

.radio-holder :where(label, input) {
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 5px;
}