.radio-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  color: rgba(17, 17, 19, 0.6);
  margin-bottom: 15px;
}

.radio-holder :where(label, input) {
  cursor: pointer;
}