.submission-card {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--main-black-color);
  height: 300px;
  width: 27%;
  display: grid;
}

.submission-card .icon {
  display: grid;
  place-items: center;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-white-color);
  margin: 10px auto;
}

.submission-card .icon svg {
  width: 50px;
}

.submission-card .icon svg path {
  fill: var(--main-blue-color);
}

.submission-card .stat {
  text-align: center;
}

.submission-card>div:not(:last-of-type) {
  margin-bottom: 15px;
}

.submission-card div:where(.missed, .done) {
  width: fit-content;
  margin-left: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  width: 96px;
}

.submission-card .missed {
  gap: 10px;
  border: 1px solid red;
}

.submission-card svg {
  width: fit-content;
}

.submission-card .missed svg {
  color: red;
}

.submission-card .done {
  border: 1px solid var(--main-blue-color);
  gap: 5px;
}

.submission-card .done svg {
  color: var(--main-blue-color)
}

.submission-card div:where(.done, .missed) span {
  flex: 1;
}