.results-container {
  margin: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.results-table th {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}


.results-table td {
  background-color: #fff;
}

.results-table td input {
  outline: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.results-table td input::placeholder {
  transition: .5s;
}

.results-table td input:focus::placeholder {
  opacity: 0;
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: fit-content;
  margin: 10px auto;
}

.select-box>div {
  cursor: pointer;
}