.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform .6s ease-in-out;
  z-index: 100
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  position: relative;
  color: var(--main-white-color);
  left: -100%;
  height: 100%;
  width: 200%;
  background-color: var(--blue-color);
  transform: translateX(0)
}

.container.right-panel-active .overlay {
  transform: translate(50%);
}

.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0)
}

.container.right-panel-active .overlay-left {
  transform: translateX(0)
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%)
}

.overlay button.switch {
  background-color: var(--main-blue-color);
  border: 1px solid var(--main-white-color);
}

h1 {
  font-size: 38px;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 15px 0 20px;
}

.overlay button {
  color: var(--main-white-color);
  border-color: var(--main-white-color);
  border-radius: 10px;
  width: 100px;
}

@media(max-width:767px) {
  .overlay-container {
    display: none;
  }
}