.assignment-card {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--main-black-color)
}

.assignment-card .icon {
  display: grid;
  place-items: center;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-white-color);
  margin: 10px auto;
}

.assignment-card .icon svg path {
  fill: var(--main-blue-color);
}