.assignment-card {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--main-black-color)
}

.assignment-card .icon {
  display: grid;
  place-items: center;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-white-color);
  margin: 10px auto;
}

.assignment-card .icon svg {
  width: 50px;
}

.assignment-card .icon svg path {
  fill: var(--main-blue-color);
}

.assignment-card .stat {
  text-align: center;
}

.assignment-card>div:not(:last-of-type) {
  margin-bottom: 15px;
}

.assignment-card .progress-bar .bar {
  height: 7px;
  border-radius: 3px;
  background-color: #385682;
  overflow: hidden;
}

.assignment-card .progress-bar .bar span {
  display: block;
  height: 100%;
  width: 76%;
  background-color: var(--main-blue-color);
}

.assignment-card .submit-btn {
  margin: auto;
  width: fit-content;
}

.assignment-card .submit-btn button {
  color: var(--main-white-color);
  border-radius: 5px;
  width: 100px;
}

.assignment-card .title {
  text-align: center;
}