.page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.rounded-small {
  border-radius: 8px;
}

.rounded {
  border-radius: 10px;
}